In [1]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
df.shape

(16, 4)

In [3]:
df.degree.unique()

array(['bachelors', 'masters'], dtype=object)

In [4]:
df['degree_number'] = df['degree'].map({'bachelors':1,'masters':2})
df.head()

,company,job,degree,salary_more_then_100k,degree_number
0,google,sales executive,bachelors,0,1
1,google,sales executive,masters,0,2
2,google,business manager,bachelors,1,1
3,google,business manager,masters,1,2
4,google,computer programmer,bachelors,0,1

In [5]:
df.drop('degree', axis="columns", inplace=True)
df.head()

  company                  job  salary_more_then_100k  degree_number
0  google      sales executive                      0              1
1  google      sales executive                      0              2
2  google     business manager                      1              1
3  google     business manager                      1              2
4  google  computer programmer                      0              1

In [6]:
df_encoded = pd.get_dummies(df,columns = ['company','job'], drop_first = True)
df_encoded

,salary_more_then_100k,degree_number,company_facebook,company_google,job_computer programmer,job_sales executive
0,0,1,0,1,0,1
1,0,2,0,1,0,1
2,1,1,0,1,0,0
3,1,2,0,1,0,0
4,0,1,0,1,1,0
5,1,2,0,1,1,0
6,0,2,0,0,0,1
7,0,1,0,0,1,0
8,0,1,0,0,0,0
9,1,2,0,0,0,0
10,1,1,1,0,0,1
11,1,2,1,0,0,1
12,1,1,1,0,0,0
13,1,2,1,0,0,0
14,1,1,1,0,1,0
15,1,2,1,0,1,0

In [9]:
from sklearn.tree import DecisionTreeClassifier
X = df_encoded.drop('salary_more_then_100k', axis='columns')
y = df_encoded['salary_more_then_100k']
model = DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [10]:
from sklearn.metrics import classification_report
y_pred = model.predict(X)
report = classification_report(y,y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      1.00      1.00        10

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

In [11]:
from sklearn.tree import export_text
print(export_text(model, feature_names=list(X.columns)))

|--- company_facebook <= 0.50
|   |--- job_sales executive <= 0.50
|   |   |--- degree_number <= 1.50
|   |   |   |--- job_computer programmer <= 0.50
|   |   |   |   |--- company_google <= 0.50
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- company_google >  0.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- job_computer programmer >  0.50
|   |   |   |   |--- class: 0
|   |   |--- degree_number >  1.50
|   |   |   |--- class: 1
|   |--- job_sales executive >  0.50
|   |   |--- class: 0
|--- company_facebook >  0.50
|   |--- class: 1

In [12]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(criterion="entropy")
model.fit(X, y)

y_pred = model.predict(X)

from sklearn.metrics import classification_report

report = classification_report(y, y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      1.00      1.00        10

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

In [13]:
from sklearn.tree import export_text
print(export_text(model, feature_names=list(X.columns)))

|--- company_facebook <= 0.50
|   |--- job_sales executive <= 0.50
|   |   |--- degree_number <= 1.50
|   |   |   |--- job_computer programmer <= 0.50
|   |   |   |   |--- company_google <= 0.50
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- company_google >  0.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- job_computer programmer >  0.50
|   |   |   |   |--- class: 0
|   |   |--- degree_number >  1.50
|   |   |   |--- class: 1
|   |--- job_sales executive >  0.50
|   |   |--- class: 0
|--- company_facebook >  0.50
|   |--- class: 1

In [14]:
X.head(2)

,degree_number,company_facebook,company_google,job_computer programmer,job_sales executive
0,1,0,1,0,1
1,2,0,1,0,1

In [15]:
model.predict([
    [1,1,0,1,0],
    [1,0,1,0,1],
])

C:\Users\91829\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1, 0], dtype=int64)